<div>
  <div class="container">
    <div>
      <input [value]="newTask" (input)="createNewTask($event)">
      <button (click)="addToTaskList()">Dodaj</button>
    </div>
  </div>

  <div class="container">
    <div>
      <p>Lista zadań:</p>
      <ul>
        <li *ngFor="let toDo of taskList; let indexOf = index">
          <div [id]="indexOf" #item>
            {{toDo}}
            <button [className]="btnDelete" [value]="item.id" (click)="deleteThis($event)">Usuń</button>
            <button [className]="btnComplete" [value]="item.id" (click)="completeThis($event)">Zakończone</button>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="completedTaskList.length>0; else isEmpty">
        <p>Zadania wykonane: {{completedTaskList.length}}</p>
        <ul>
          <li *ngFor="let doneTask of completedTaskList">
            <div [className]="classTaskDone">{{doneTask}}</div>
          </li>
        </ul>
    </div>
    <ng-template #isEmpty>
      <p>Zadania wykonane:</p>
    </ng-template>

  </div>
</div>
