<div>
  <div class="container">
    <div>
      <input (input)="createNewTask($event)">
      <button (click)="addToTaskList()">Dodaj</button>
    </div>
  </div>

  <div class="container">
    <div>
      <p>Lista zadań:</p>
      <ul>
        <li *ngFor="let toDo of taskList; let indexOf = index">
          <div [id]="indexOf" #item>
            {{toDo.taskName}}
            <!-- <button [value]="item.id" (click)="deleteThis()">Usuń</button>
            <button [value]="item.id" (click)="completeThis()">Zakończone</button> -->
          </div>
        </li>
      </ul>
    </div>

    <div>
      <p>Zadania wykonane:</p>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
</div>
