.container{
  display: flex;
  justify-content: space-around;
}

.done{
  opacity: .5;
  text-decoration: line-through;
}

.btn-delete:hover{
  transition: .5s;
  background: rgba(255, 0, 0, .3);
}

.btn-complete:hover{
  transition: .5s;
  background: rgba(0, 255, 0, .3);
}
